.footer {
    background-color: $black;
    padding: 48px 0; 
    color: $white; 

    &__wrapper {
        margin: 0 5%; 
    }

    &__nav {
        width: 100%; 
        margin-bottom: 56px; 
    }

    &__nav,
    &__socials {
        display: flex;
        align-items: center;
    }

    &__title {
        text-transform: capitalize;
    }

    &__socials {
        width: 80%; 
        margin: 0; 
        justify-content: space-between;
    }

    &__social-icon:not(:first-of-type) {
        margin-left: 32px;
    }

    &__logo {
        display: none;
    }

    &__directory {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    &__contact,
    &__contact-title,
    &__contact-info, 
    &__email {
        margin-bottom: 16px;
        width: 100%;  
    }

    &__contact-title {
        font-family: "AvenirDemiBold";
        font-size: 14px; 
        line-height: 22px;
    }

    &__contact-info, 
    &__copyright {
        font-size: 13; 
        line-height: 18px; 
    }
}

@include medium {
    &__nav,
    &__socials {
        display: flex;
        align-items: center;
    }

    &__socials {
        width: 80%; 
        margin: 0; 
        justify-content: space-between;
    }

    &__logo {
        display: initial;
    }

    &__directory {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    &__contact,
    &__contact-title,
    &__contact-info, 
    &__email {
        margin-bottom: 16px;
        width: 100%;  
    }

    &__contact-title {
        font-family: "AvenirDemiBold";
        font-size: 14px; 
        line-height: 22px;
    }

    &__contact-info, 
    &__copyright {
        font-size: 13; 
        line-height: 18px; 
    }
}

@include large {

}