.gallery {
    background-color: $alabaster; 
    padding: 32px 0;

    &__wrapper {
        margin: 0 5%; 
    }

    &__header {
        font-family: "AvenirBold"; 
        font-size: 24px; 
        line-height: 32px; 

        margin-bottom: 24px;
    } 

    &__photo-wrapper {
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    &__photo {
        margin: 0 0 16px 0; 
        min-height: 126px; 
        width: 100%
    }
}

@include medium {
    .gallery {
        width:100%;
        padding-top: 48px; 
        padding-bottom: 40px;

        &__wrapper {
            margin: 0 3.13%; 
        }

        &__header {
            font-size: 36px; 
            line-height: 44px; 
    
            margin-bottom: 64px;
        }

        &__photo-wrapper {
            flex-flow: row wrap; 
            justify-content: space-evenly;
        }

        &__photo {
            min-height: 162px; 
            width: 31%; 
            margin-bottom: 24px; 
        }
    }
}

@include large {
    .gallery {
        &__wrapper {
            margin: 0 12.5%; 
        }

        &__photo {
            min-height: 193px; 
        }
    }
}