.conversation {
    margin: 0 5%; 

    &__header {
        font-family: 'AvenirBold';
        margin: 32px 0 40px 0; 
        font-size: 24px;
        line-height: 32px;
    }

    &__wrapper {
        margin-bottom: 40px; 
    }

    &__form {
        display: flex;
        justify-content: space-between;
    }
// avatar-wrapper + avatar css modified from Bianca Power @ medium.com
// Issue on ln 24 --> actual computed height in test browser (Chrome) gives a computed height that isn't the same as specified in scss
    &__avatar-wrapper {
        margin-right: 20px; 
        width: 48px; 
        height: 48px; 
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }

    &__thread {
        display: flex;
        flex-direction: column-reverse;
    }

    &__avatar {
        object-fit: cover;
        width: inherit;
        height: inherit;
    }

    &__input {
        display: flex;
        width: 100%;
    }

    &__field-wrapper {
        display: flex;
        flex-direction: column;
        width: inherit; 
    }

    &__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px; 
    }

    &__field > {
        width: 100%;
    }

    &__field-header {
        color: $silver;
        font-family: 'AvenirDemiBold';
        font-size: 12px; 
        line-height: 20px; 
        margin-bottom: 5px;
    }

    &__fill {
        font-family: 'AvenirReg';
        border: $mercury 2px solid; 
        border-radius: 4px;
    }

    &__fill:focus {
        border: $black 3px solid;
    }

    &__cta {
        width: 100%; 
        height: 48px; 
        margin-bottom: 16px;
        background-color: $black;
        border-style: none;
        border-radius: 4px;
        font-family: 'AvenirDemiBold'; 
        text-transform: uppercase;
        color: $white;
        align-self: flex-end;
        &:hover {
            background-color: $brainflix-blue;
        }
    }

    &__form, 
    &__comment {
        border-bottom: 1px solid $mercury;
    }

    &__comment {
        margin: 24px 0; 
        display: flex; 
        justify-content: space-between; 
    }

    &__comment-text {
        width: 100%; 
        margin-bottom: 24px;
    }

    &__comment-id {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__comment-name {
        font-family: 'AvenirDemiBold';
        font-size: 14px; 
        line-height: 22px;
    }

    &__comment-date {
        color: $silver; 
        margin-left: 10px; 
    }

}

@include medium {
    .conversation {
        margin: 0 3.13%; 

        &__header {
            margin: 48px 0 56px 0; 
            font-size: 36px;
            line-height: 44px;
        }

        &__wrapper {
            margin: 0 13.02% 40px 13.02%;
        }

        &__cta {
            width: 30.77%; 
        }

        &__comment-id {
            margin-bottom: 16px;
            justify-content: flex-start;
        }
    }
}

@include large {
    .conversation {
        margin: 0 12.5%; 

        &__wrapper {
            margin: 0 19.17% 40px 19.17%;
        }

        &__cta {
            width: 31.75%; 
        }
    }
}