.hero {
    min-height: 183px; 
    display: flex; 
    align-items: center; 

    &__wrapper {
        margin: 0 5%;
    }

    &--members {
        background-image: url('../assets/Images/hero.jpg');
        background-size: cover;
        position: relative; 
        background-color: $black-50opacity;
        background-blend-mode: darken;
    }

    &--shows {
        background-image: url('../assets/Images/hero-shows.jpg');
        background-size: cover;
        background-position: center; 
        position: relative; 
        background-color: $black-50opacity;
        background-blend-mode: darken;
    }

    &__text-wrapper {
        margin: 64px 0; 
    }

    &__text {
        font-family: "AvenirBold"; 
        font-size: 24px; 
        line-height: 32px; 
        color: $white; 
        &--splash {
            font-family: "AvenirBold";
            font-size: 14px; 
            line-height: 22px;
            color: $white;
        }
    }

    &__soundcloud-media {
        border-radius: 8px;
        width: 100%; 
        height: 100px; 
        margin-bottom: 50px;
    }
}

@include medium {
    .hero {
        min-height: 400px; 

        &__wrapper {
            margin: 0 3.13%; 
        }

        &__text-wrapper {
            margin: 96px 0 75px 0; 
        }

        &__text {
            font-size: 60px; 
            line-height: 68px;
            &--splash {
                font-size: 24px;
                line-height: 24px;
            }
        }

        &__soundcloud-media {
            width: 60%; 
            height: 146px; 
            margin-bottom: 96px; 
        }
    }
}

@include large {
    .hero {
        min-height: 670px; 

        &__wrapper {
            margin: 0 12.5%; 
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__text-wrapper {
            margin: 160px 0; 
            max-width: 55%;
        }

        &__soundcloud-media {
            width: 40.37%; 
            margin-left: 5.93%; 
            margin-bottom: 0;
        }
    }
}