@charset 'utf-8'; 

/* Imports */
@import './partials/breakpoints'; 
@import './partials/fonts'; 
@import './partials/colours'; 
@import './partials/header'; 
@import './partials/hero'; 
@import './partials/bio'; 

html, 
body {
    margin: 0; 
    font-family: AvenirReg, sans-serif; 
    color: $black; 
    height: 100vh; 
    box-sizing: border-box; 
}

/* Enforces border-box for whole site */
*, 
*:before, 
*:after {
    box-sizing: inherit; 
}

