.conversation {
    margin: 0 5%; 

    &__header {
        font-family: 'AvenirBold';
        margin: 32px 0 40px 0; 
        font-size: 24px;
        line-height: 32px;
    }

    &__wrapper {
        margin-bottom: 40px; 
        width: 100%; 
    }

    &__form {
        display: flex;
        width: 100%; 
        justify-content: space-between;
        margin: 0 auto; 
    }

    &__form-avatar {
        margin-right: 20px; 
        width: 17.36%; 
    }

    &__input {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px; 
    }

    &__field > {
        width: 100%;
    }

    &__field-header {
        color: $silver;
        font-family: 'AvenirDemiBold';
        font-size: 12px; 
        line-height: 20px; 
    }

    &__cta {
        width: 100%; 
        height: 48px; 
        margin-bottom: 16px;
        background-color: $black;
        border-style: none;
        border-radius: 4px;
        color: $white;
        &:hover {
            background-color: $brainflix-blue;
        }
    }
}

@include medium {
    .conversation {
        margin: 0 3.13%; 

        &__header {
            margin: 48px 0 56px 0; 
            font-size: 36px;
            line-height: 44px;
        }

        &__wrapper {
            width: 72.22%; 
        }

        &__form-avatar {
            width: 9.23%; 
        }

        &__cta {
            width: 30.77%; 
        }
    }
}

@include large {
    .conversation {
        margin: 0 12.5%; 

        &__wrapper {
            width: 46.67%; 
        }

        &__form-avatar {
            width: 9.52%; 
        }

        &__cta {
            width: 31.75%; 
        }
    }
}